<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice</title>
    {{>styleLinks}}
</head>
{{>sidebar}}
<main class="main-wrapper">
    {{>navbar}}

    <body>
        <div class="form-row">
            <p class="text-right pl-2 pt-3">
                <button type="submit" id="btn" class="btn btn-space btn-success rounded"
                    onclick="printDiv('invoice_estimate')">
                    Print
                </button>
            </p>
        </div>
        {{#if msg}}
      <div class="alert alert-success d-flex align-items-center" role="alert">
        <div>
          {{msg}}
        </div>
      </div>
    {{/if}}
    
        {{!-- <div class="row" id="invoice_gst">
            <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card" style="border: 2px solid black;">
                    <div class="card-header p-4">
                        <h2 class="text-center">Tax Invoice</h2>
                        <div class="float-right">
                            <h3 class="mb-0">Invoice {{billNo}}</h3>
                            {{date}}
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row mb-4">
                            <div class="col-sm-6">
                                <h5 class="mb-3">From:</h5>
                                <h3 class="text-dark mb-1">{{user.companyName}}</h3>

                                <div>GST : {{user.gstNo}}</div>
                                <div>Address : {{user.city}}</div>
                                <div>State : {{user.state}}</div>
                                <div>E-mail : {{user.email}}</div>
                                <div>Phone: {{user.phoneNumber}}</div>
                            </div>
                            <div class="col-sm-6">
                                <h5 class="mb-3">To:</h5>
                                <h3 class="text-dark mb-1">{{customer.name}}</h3>
                                <div>GST : {{customer.gstno}}</div>
                                <div>Address : {{customer.city}},{{customer.landmark}}</div>
                                <div>State : {{customer.state}}</div>
                                <div>Phone: {{customer.phone}}</div>
                            </div>
                        </div>
                        <div class="table-responsive-sm">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th class="left">No</th>
                                        <th class="left">HSN Code</th>
                                        <th>Product Name</th>
                                        <th class="left">Unit</th>
                                        <th class="left">Rate</th>
                                        <th class="left">Qty.</th>
                                        <th class="left">GST %</th>
                                        <th class="left">GST AMT</th>
                                        <th class="left">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each saleProducts}}
                                    <tr>
                                        <td class="left">{{inc @index}}</td>
                                        <td class="left">{{hsn}}</td>
                                        <td class="left strong">{{productName}}</td>
                                        <td class="left">{{unit}}</td>
                                        <td class="left">{{rate}}</td>
                                        <td class="left">{{qty}}</td>
                                        <td class="left">{{gstp}}</td>
                                        <td class="left">{{gstAmt}}</td>
                                        <td class="left">{{total}}</td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-4 col-sm-5">
                                <div class="mt-5">
                                    <h4><u>Bank Detail</u></h4>
                                    <h6>Bank Name : {{user.bankName}}</h6>
                                    <h6>Account No : {{user.accountNumber}}</h6>
                                    <h6>IFSC Code : {{user.ifsc}}</h6>
                                    <h6>Branch Name : {{user.branchName}} </h6>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-5 ml-auto">
                                <table class="table table-clear">
                                    <tbody>
                                        <tr>
                                            <td class="left">
                                                <strong class="text-dark">Total</strong>
                                            </td>
                                            <td class="right">{{raw_text}}&nbsp;&nbsp;{{total}}</td>
                                        </tr>
                                        <tr>
                                            <td class="left">
                                                <strong class="text-dark">CGST (+)</strong>
                                            </td>
                                            <td class="right">{{raw_text}}&nbsp;&nbsp;{{cgst}}</td>
                                        </tr>
                                        <tr>
                                            <td class="left">
                                                <strong class="text-dark">SGST (+)</strong>
                                            </td>
                                            <td class="right">{{raw_text}}&nbsp;&nbsp;{{sgst}}</td>
                                        </tr>
                                        <tr>
                                            <td class="left">
                                                <strong class="text-dark">IGST (+)</strong>
                                            </td>
                                            <td class="right">{{raw_text}}&nbsp;&nbsp;{{igst}}</td>
                                        </tr>
                                        <tr>
                                            <td class="left">
                                                <strong class="text-dark">Round Off(-)</strong>
                                            </td>
                                            <td class="right">{{raw_text}}&nbsp;&nbsp;{{roff}}</td>
                                        </tr>
                                        <tr>
                                            <td class="left">
                                                <strong class="text-dark">Grand Total</strong>
                                            </td>
                                            <td class="right">
                                                <strong class="text-dark">{{raw_text}}&nbsp;&nbsp;{{gTotal}}</strong>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-lg-6 col-sm-12 col-md-6">
                                <h5>Rupees : {{word}} only</h5>
                            </div>
                            <div class="col-lg-6 col-sm-12 col-md-6">
                                <h5>Signature : </h5>
                                <br>
                                <br>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> --}}

        <div class="card-body" id="invoice_estimate">
                <div class="row mt-1">
                    <div class="col">
                        <h2 class="text-center">Estimate</h2>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-sm-6 text-left">
                        <h3 class="mb-1 text-dark">To : {{customer.name}}</h3>
                        <div>Phone: {{customer.phone}}</div>
                    </div>
                    <div class="col-sm-6 text-right">
                        <h3 class="text-dark mb-1">Bill No : {{billNo}}</h3>
                        <div>Date : {{date}}</div>
                    </div>
                </div>
                <div class="table-responsive m-4">
                    <table width=100% >
                        <thead border=1 width=100% class="table-bordered">
                            <tr>
                                <th class="center">No</th>
                                <th>Product Name</th>
                                <th class="center">Unit</th>
                                <th class="center">Rate</th>
                                <th class="right">Qty.</th>
                                <th class="center">Disc. %</th>
                                <th class="center">Net Rate</th>
                                <th class="right">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each saleProducts}}
                            <tr>
                                <td class="center">{{inc @index}}</td>
                                <td class="left">{{productName}}</td>
                                <td class="right">{{unit}}</td>
                                <td class="center">{{rate}}</td>
                                <td class="right">{{qty}}</td>
                                <td class="center">{{dis}}</td>
                                <td class="center">{{netRate}}</td>
                                <td class="right">
                                    <strong class="text-dark">{{total}}</strong>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                        <tfoot class="table-bordered" >
                            <tr>
                            <th></th><th></th><th></th><th></th><th></th><th></th>
                                <td class="left">
                                    <strong class="text-dark">Total</strong>
                                </td>
                                <td class="right">
                                    <strong class="text-dark">{{raw_text}}&nbsp;&nbsp;{{total}}</strong>
                                </td>
                            </tr>
                            <tr>
                            <th></th><th></th><th></th><th></th><th></th><th></th>
                                <td class="left" >
                                    <strong class="text-dark">Old Amount</strong>
                                </td>
                                <td class="right">
                                    <strong class="text-dark">{{raw_text}}&nbsp;&nbsp;{{oldAmt}}</strong>
                                </td>
                            </tr>
                            <tr>
                            <th></th><th></th><th></th><th></th><th></th><th></th>
                                <td class="left" >
                                    <strong class="text-dark">Round Off</strong>
                                </td>
                                <td class="right">
                                    <strong class="text-dark">{{raw_text}}&nbsp;&nbsp;{{roff}}</strong>
                                </td>
                            </tr> 
                            <tr>
                            <th></th><th></th><th></th><th></th><th></th><th></th>
                                <td class="left" >
                                    <strong class="text-dark">Grand Total</strong>
                                </td>
                                <td class="right">
                                    <strong class="text-dark">{{raw_text}}&nbsp;&nbsp;{{gTotal}}</strong>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
</main>
{{>jsLinks}}
{{>animation}}
<script>
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;

    }
</script>
</body>

</html>